<h1>Clubs#show</h1>
<p>Find me in app/views/clubs/show.html.erb</p>



<div class="club-name"><%= @club.name %></div>
<div class="club-category"><%= @club.category %></div>
<div class="club-address"><i class="fas fa-map-marker-alt"></i> <%= @club.address %></div>
<div class="club-description"><%= @club.description %></div>