.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark-gray;
  height: 250px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.article-img {
  margin: 1em;
  height: 200px;
  width: 200px;
  background-image: asset-url("kitten-placeholder.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
}