// Import page-specific CSS files here.
@import "home";
@import "articles";
@import "donation/donation-show";
@import "show";

.flex-grow-1 {
  background: white;
}

// Searchbar aNd Button
.s-n-b {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 200px;
  padding-bottom: 40px;

  .s {
  }
  .b {
    position: relative;
    left: -25px;
  }
}

// Clubcards with containner padding Start //

.container-main {
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  justify-content: center;
}


.card-index {
  border-radius:  8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // box-shadow: 2.5px 2.5px 2.5px 2.5px #363062;
  padding-bottom: 20px;
  margin: 10px 10px 10px 10px;
  position: relative;
  white-space: normal;
  font-size: 14px;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
  height: 95%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // max-width: 500px;
  width: 400px;
  // min-width: 400px;

  .card-index-inside {
    padding: 5px 5px 5px 10px;
    align-items: center;
  }

  // Picture aNd Logo
  .p-n-l {
    position: relative;
    height: 250px;
    border-radius: 3%;
    overflow: hidden;

    .image {
      height: 250px;
      min-width: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .logo {
      height: 50px;
      width: 70px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      flex-grow: 1;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      align-items: flex-end;
      z-index: 2;
    }
  }

  .name {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    color: black;
    outline: none;
  }

  // Logo aNd Bookmark
  .l-n-b{
  text-wrap: break-word;
  position: relative;
  height: 30px;

  flex-grow: 1;

    .location {
      position: absolute;
      bottom: 10px;
    }

    .bookmark {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  // .d2 {
  //   display: none;
  // }
}

.card-index:hover {
  box-shadow: 0 25px 50px rgba(0,0,0,0.30), 0 20px 16px rgba(0,0,0,0.22);
  margin-top: -1px;
  transition: all 0.5s;
  cursor: pointer;

}
// Clubcards with containner padding End //

a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

.dsl {
  padding-top: 10px;
  a:hover {
  color: #eb6383 !important;
  }
}

