<div class="footer">
  <div class="navbar-links">
    <div class="footer-box logo-footer">
    <%= link_to "#" do %>
      <%= image_tag "logo.png", class: "logo-footer" %>
      <% end %>
  </div>
    <div class="footer-box dev">
      <h6>Developers</h6>
      <ul id="footer-devs">
        <li><a href="https://github.com/Botlike31">Andreas Broska</a></li>
        <li><a href="https://github.com/ichboop">Leonard Diemer</a></li>
        <li><a href="https://github.com/Mhd-Adel">Mhd.adel Al Masri</a></li>
        <li><a href="https://github.com/daniel-meow">Daniel Thiel</a></li>
      </ul>  
    </div>
    <div class="footer-box company">
      <h6>Company</h6>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Imprint</a></li>
      </ul>
    </div>
    <div class="footer-box company">
      <h6>Follow us</h6>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
      </ul>
    </div>
  </div>
  
  <div class="link-boxes">
    <a href="www.lewagon.com" class="link-box">
      <h6>Learn more</h6>
      <%= image_tag "arrow_up_right.png" %>
    </a>
    <a href="#" class="link-box">
      <h6>Contact us</h6>
      <%= image_tag "arrow_up_right.png" %>
    </a> 
  </div>
</div>