<div class="footer">
  <div class="footer-box logo-footer navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
  </div>
  
  <div class="navbar-links">
    <div class="footer-box dev">
      <h5>Developers</h5>
      <ul>
        <li>Name 1</li>
        <li>Name 2</li>
        <li>Name 3</li>
        <li>Name 4</li>
      </ul>  
    </div>
    <div class="footer-box company">
      <h5>Company</h5>
      <ul>Link 1</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
    </div>
    <div class="footer-box social">
      <h5>Social</h5>
      <ul>Link 1</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
    </div>
  </div>
  
  <div class="footer-boxes">
    <div class="footer-box">
    </div>
  </div>
</div>