<div class="footer">

  
  <div class="navbar-links">
    <div class="footer-box logo-footer navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
  </div>
    <div class="footer-box dev">
      <h6>Developers</h6>
      <ul id="footer-devs">
        <li><a href="https://github.com/Botlike31">Andreas Broska</a></li>
        <li><a href="https://github.com/ichboop">Leonard Diemer</a></li>
        <li><a href="https://github.com/Mhd-Adel">Mhd.adel Al Masri</a></li>
        <li><a href="https://github.com/daniel-meow">Daniel Thiel</a></li>
      </ul>  
    </div>
    <div class="footer-box company">
      <h6>Company</h6>
      <ul>Link 1</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
    </div>
    <div class="footer-box social">
      <h6>Social</h6>
      <ul>Link 1</ul>
      <ul>Link 2</ul>
      <ul>Link 3</ul>
    </div>
  </div>
  
  <div class="link-boxes">
    <div class="link-box">
      <h6>Contact Us</h6>
      <%= image_tag "arrow_up_right.png" %>
    </div>
    <div class="link-box">
      <h6>Contact Us</h6>
      <%= image_tag "arrow_up_right.png" %>
    </div> 
  </div>
</div>