.create-club {
  padding: 35px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 700px;
  color: rgb(54, 48, 98);
  background-color: rgba(255, 255, 255, 0.4);
  filter: blur();
  border-radius: 5%;
  box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.3);
  text-align: center;

  h1 {
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.form-group.file.optional.club_photos {
  padding-top: 6px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#club_photos.form-control-file.file.optional {
  margin-left: 40px;
  margin-bottom: 6px;
}

#club_description, 
#club_name,
#club_address,
#club_category {
  border-radius: 10px;
}
