.create-club {
  padding: 35px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 700px;
  color: rgb(54, 48, 98);
  background-color: rgba(255, 255, 255, 0.4);
  filter: blur();
  border-radius: 5%;
  box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.3);
  text-align: center;
}
