.club-header-image {
  width: 100vw;
  height: 50px;
}

.club-header-image img {
  height: 320px;
  object-fit: cover;
  width: 100vw;
}

.sm-icon {
  font-size: 36px;

  &.ig {
    color: #D6228D;
  }
  &.fb {
    color: #4064AC;
  }
  &.tw {
    color: #1D9CEA;
  }

}

.sm-box {
  display: inline-flex;
  border: 1px solid $clr-primary;
  border-radius: .5em;
  padding: 1em;
  margin-right: 1em;
  margin-top: 1em;
  transition: border-radius 1s;

  &:hover {
    border-radius: 1em;
  }
}

#club-about {
  margin-top: 2em;
  p {
    line-height: 2;
  }
}

#club-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 9px;
  margin-bottom: 2em;

}

.club-image img {
  height: 270px;
  width: 270px;
  object-fit: cover;
}
