<div class="overlay-container">
  <div class="overlay">
    <h1>Charming Creatures</h1>
    <h3>Super catchy phrase</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
    <br>
  </div>
</div>
