<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Donate for <%= @club.name %></h1>
      <div class="donation-box">
        <div class="donation-box-content">
          <%= simple_form_for [@club, @donation] do |f| %>
            <%= f.input :amount, as: :integer, label: "Amount in Euro", class: "form-control" %>
            <%= f.button :submit, "Donate now",  class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
