// button {
// 	border: none;
// 	outline: none;
// 	padding: 10px 20px;
// 	border-radius: 50px;
// 	color: #333;
// 	background: #fff;
// 	margin-bottom: 50px;
// 	box-shadow: 0 3px 20px 0 #0000003b;
// }

.button {
height: 60px;
width: 200px;
background-color: #eb6383;
color: #f1f1f1;
border-radius: 25px 25px 25px 25px;
border: 2px solid #eb6383;
transition: all 0.3s;
}

.button:hover {
  background-color: #fa9191;
  color: #f1f1f1;
  border: 2px solid white;
}

.button-donate {
  display: grid;
  justify-content: center;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  background-color: #eb6383;
  color: #f1f1f1;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #eb6383;
  transition: all 0.3s;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  background-color: #eb6383;
  color: #f1f1f1;
  border-radius: 25px 25px 25px 25px!important;
  border: 2px solid #eb6383;
  transition: all 0.3s;
  border: none!important;
}

.art-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}