// button {
// 	border: none;
// 	outline: none;
// 	padding: 10px 20px;
// 	border-radius: 50px;
// 	color: #333;
// 	background: #fff;
// 	margin-bottom: 50px;
// 	box-shadow: 0 3px 20px 0 #0000003b;
// }

.button {
height: 60px;
width: 200px;
background-color: #eb6383;
color: #f1f1f1;
border-radius: 25px 25px 25px 25px;
border: 2px solid #eb6383;
}

.button-donate {
  display: grid;
  justify-content: center;
}
