// button {
// 	border: none;
// 	outline: none;
// 	padding: 10px 20px;
// 	border-radius: 50px;
// 	color: #333;
// 	background: #fff;
// 	margin-bottom: 50px;
// 	box-shadow: 0 3px 20px 0 #0000003b;
// }

.button {
  height: 60px;
  width: 200px;
  background-color: #eb6383;
  color: #f1f1f1;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #eb6383;
  transition: all 0.3s;
  justify-content: center;
}

.button:hover {
  background-color: #fa9191;
  color: #f1f1f1;
  border: 2px solid white;
}

.button-donate {
  display: grid;
  justify-content: center;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  color: #4d4d4d;
  border-radius: 25px;
  border: 2px solid #eb6383;
  background-color: white;
}

.add-btn:hover {
  background-color: #fa9191;
  color: #f1f1f1;
  border: 2px solid white;
}

.read-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  color: #ffffff;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: #eb6383;
}

.read-btn:hover {
  background-color: #fa9191;
  color: #f1f1f1;
  border: 2px solid white;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  background-color: #eb6383;
  color: #f1f1f1;
  border-radius: 25px 25px 25px 25px!important;
  border: 2px solid #eb6383;
  transition: all 0.3s;
  border: none!important;
}

.art-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  background-color: #eb6383;
  color: #f1f1f1;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #eb6383;
  transition: all 0.3s;
}

.button-link:hover {
  background-color: #fa9191;
  color: #f1f1f1;
  border: 2px solid white;
}

.btn-clean {
  background-color: white;
  border: 0px solid white;
  padding: 0;
 
  .fa-heart {
    padding: 0;
  }
}

