.donation-box {
  color: white;
  background-color: $clr-primary;
  border-radius: 20px;
  width: 850px;
  margin: 0 auto;
  padding: 20px;
}

.form-group.float.optional.donation_amount {
 margin-right: 20px;
}

.donation-btn{
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background:pink;
  box-shadow: 0 3px 20px 0 #0000003b;
}

.donation-btn:hover {
  background: rgb(89, 211, 89);
  color: white;
}