.donation-box {
  color: white;
  background-color: $clr-primary;
  border-radius: 20px;
  width: 850px;
  margin: 0 auto;
  padding: 20px;
}

.form-group.float.optional.donation_amount {
 margin-right: 20px;
}
