.donation-club-box {
  
  width: 400px;
  margin-top: -340px;
  border-radius: 1em;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 100px;
  padding: 1.5em 2em;
}