.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;

  a {
    color: black!important;
    font-size: 19px;
    font-weight: 500;
    margin: 0 0.3em; 
    text-transform:capitalize;
  }

  a:hover {
    color: #eb6383!important;
  }
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 16px;
    margin-bottom: 0px;
  }
  a:hover {
    text-decoration: none;
    color: black!important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  
  width: 40px;
}

.nav-link {
  color: white!important;
}

.fas.fa-paw {
  margin-left: 1em;
  color: white;
  font-size: 35px;
  cursor: pointer;
}