.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  position: sticky!important;

  a {
    color: rgb(78, 78, 78)!important;
    font-size: 16px !important;
    font-weight: 500;
    margin: 0 0.3em;
    text-transform:capitalize;
  }

  a:hover {
    color: #eb6383!important;
    border-bottom: 1px solid #eb6383;
  }
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 16px;
    margin-bottom: 0px;
  }
  a:hover {
    text-decoration: none;
    color: black!important;
    border-bottom: none !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

  width: 80px!important;
  height: 80px
}

.nav-link {
  color: white!important;
}

.fas.fa-paw {
  margin-left: 1em;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
